[Service]
WorkingDirectory=%h/MQTT_will
ExecStart=%h/bin/MQTT_will.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mqtt_will

[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
# 'After' and 'Wants' result in following messages i9n /var/log/daemon.log
# ... MQTT_will.service:11: Unknown lvalue 'After' in section 'Install', ignoring
# ... MQTT_will.service:11: Unknown lvalue 'Wants' in section 'Install', ignoring
# and are documented at https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
# Possible newer additions